#content {
  width: 500px;
  margin: 0 auto 0 auto;
}
#grid {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  border: 1px solid #dddddd;
}
#time {
  width: 100%;
  margin: 0;
}
.block {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}
.block-on {
  background-color: black;
}
#params {
  width: 100%;
  margin: 0 0 10px 70px;
}
input {
  width: 75px;
}
